<h1>records</h1>
<h6>Welcome {{name}}</h6>
<h6>Total Sum: {{totalSum}}</h6>
{{#if sumByCategory}}
            {{#each sumByCategory}}
            <h6>Sum for {{category}}: {{sum_val}}</h6>
            {{/each}}
{{/if}}

{{#if products}}
    <table class="striped">
        <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {{#each products}}
            <tr>
                <td><a href="/products/{{_id}}">{{category.name}}</a></td>
                
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td>{{formatDate date 'MMMM Do YYYY'}}</td>

            </tr>
        {{/each}}
        </tbody>
    </table>

{{else}}
    <p>No records</p>

{{/if}}